<drag-scroll class="main" [scrollbar-hidden]="true">
    <div drag-scroll-item class="drag-scroll">
        <div class="container">
            <div class="hexagon" (click)="updateDetailsTile(mapGridHidden(slot))" 
                                [ngClass]="mapGridHidden(slot) == 0 ? 'hidden' : ''" 
                                *ngFor="let slot of numSlots">
                <span class="content"></span>
            </div>    
        </div>    
    </div>
</drag-scroll>

<app-hover-tile-menu></app-hover-tile-menu>