@columns: 7; // num across * 2
@grid-gap: 3px;

.main {
    --s: 100px;  /* size  */
    --m: 4px;    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
}

.container {
    font-size: 0; /*disable white space between inline block element */
    display: grid;
    grid-template-columns: repeat(@columns, var(--s));
    grid-auto-rows: calc(var(--s) - var(--m) * 2);
    grid-gap: @grid-gap @grid-gap;
}

.container .hexagon {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547); 
    display: inline-block;
    font-size: initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: red;
    margin-bottom: calc(var(--m) - var(--s)*0.2885); 
}

// 2 x 2 x 2

// .container .hexagon:nth-child(6n + 4),
// .container .hexagon:nth-child(6n + 5),
// .container .hexagon:nth-child(6n + 6) {
//     background: black;
//     margin-left: calc(var(--s) / 2 + var(--m));
// }

// .container .hexagon:nth-child(1),
// .container .hexagon:nth-child(7){
//     // background: blue;
//     background: transparent !important;
// }


// 3 x 3 x 3 hexagon
// .container .hexagon:nth-child(12n+7),
// .container .hexagon:nth-child(12n+8),
// .container .hexagon:nth-child(12n+9),
// .container .hexagon:nth-child(12n+10),
// .container .hexagon:nth-child(12n+11),
// .container .hexagon:nth-child(12n+12) {
//     background: black;
//     margin-left: calc(var(--s) / 2 + var(--m));
// }

// .container .hexagon:nth-child(6n + 1),
// .container .hexagon:nth-child(2),
// .container .hexagon:nth-child(26),
// .container .hexagon:nth-child(6),
// .container .hexagon:nth-child(12),
// .container .hexagon:nth-child(24),
// .container .hexagon:nth-child(30){
//     // background: blue;
//     background: transparent !important;
// }

// 4 x 4 x 4 
.container .hexagon:nth-child(14n+9),
.container .hexagon:nth-child(14n+10),
.container .hexagon:nth-child(14n+11),
.container .hexagon:nth-child(14n+12),
.container .hexagon:nth-child(14n+13),
.container .hexagon:nth-child(14n+14),
// .container .hexagon:nth-child(14n+15),
.container .hexagon:nth-child(14n+8) {
    background: black;
    margin-left: calc(var(--s) / 2 + var(--m));
}


// .container .hexagon:nth-child(2),
// .container .hexagon:nth-child(26),
// .container .hexagon:nth-child(6),
// .container .hexagon:nth-child(12),
// .container .hexagon:nth-child(24),
.container .hexagon:nth-child(14n + 1),
.container .hexagon:nth-child(7),
.container .hexagon:nth-child(14),
.container .hexagon:nth-child(2),
.container .hexagon:nth-child(8),
.container .hexagon:nth-child(36),
.container .hexagon:nth-child(44),
.container .hexagon:nth-child(42),
.container .hexagon:nth-child(49){
    // background: blue;
    background: transparent !important;
}


.hidden {
    background: transparent !important;
}
