<div class="full-page">
    <div class="left-column">
        <span class='stellar'>Stellar</span>
        <span class='drift'>Drift</span>
    </div>
    <div class='right-column'>
        <div class='intro-text discover'>Discover</div>
        <div class='intro-text develop'>Develop</div>
        <div class='intro-text dominate'>Dominate</div>
        <div class='intro-info'>A Competition to Conquer an NFT Universe</div>
        <button mat-raised-button [routerLink]="['/login']" class="compete">COMPETE</button>    
    </div>
</div>