<div class="full-page">
    <div class="left-column">
        <span class='stellar'>Stellar</span>
        <span class='drift'>Drift</span>
    </div>
    <div class='right-column'>
        <div class='intro-text discover'>Discover</div>
        <div class='intro-text develop'>Develop</div>
        <div class='intro-text dominate'>Dominate</div>
        <div class='intro-info'>
            Collect Resources. Build Armies. Conquer The Galaxy
        </div>
        <button mat-raised-button [routerLink]="['/login']" class="login">JOIN</button>    
    </div>
</div>