@import url("../../../../styles.less");

.troop-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

    mat-card-header {
        display: flex;
        flex-direction: column;
    }

    .mat-row {
        height: auto;
    }
    
    .mat-header-cell {
        padding: 8px;
    }
    
    .mat-cell {
        text-align: center;
    }

    mat-card {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        height: 80%;
        max-width: 306px;
        margin: 20px;
        .row {
            display: flex;
            .name {
                font-size: 30px;
                margin: 0;
            }
            .pull-right {
                font-size: 20px;
                margin-left: auto;
                padding-left: 10px;
                padding-right: 7px;
                border-bottom: 1px solid @border-accent;
                border-left: 1px solid @border-accent;;
            }
        }
        .type {
            border-top: 1px solid @border-accent;;
            font-size: 12px;
            margin-left: 7px;
        }
        .icon {
            margin-left: auto;
            margin-right: auto;
        }
    }

    td.mat-cell:first-of-type {
        padding-left: 0;
    }
    
    td.mat-cell:last-of-type {
        padding-right: 0;
    }
}
