<div class="built" *ngIf="structure.built">
    <button mat-raised-button class="structure-button" (click)="openDialog(structure)">
        <img class="unit-img" [src]="getUnitSrc(structure.type)">
    </button>
</div>
<div class="build" *ngIf="!structure.built">
    <div class="queued" *ngIf="structure.queued">
        <div class="queue-finished" *ngIf="(structure.queued | queueHandler)==100">
            <button mat-raised-button (click)="claimStructure()" class="structure-button" *ngIf="(structure.queued | queueHandler) == 100">Claim Structure</button>
        </div>
        <div class="queue-not-finished" *ngIf="(structure.queued | queueHandler)!=100">
            <div class="progress-bar" [style.width.%]="1"></div>
            <button mat-raised-button [disabled]="true" class="structure-button" (click)="openDialog(structure)">
                <img class="unit-img" [src]="getUnitSrc(structure.queued.type)">
            </button>   
        </div>
    </div>
    <div class="empty-slot" *ngIf="!structure.queued">
        <button mat-raised-button class="structure-button" (click)="openBuildDialog(structure)">Build Structure</button>
    </div>
</div>

