<div class="built" *ngIf="structure.built">
    <div class="dls-menu-item">
        <button mat-stroked-button color="success" (click)="openDialog(structure)">{{structure.type}}</button>
    </div>
</div>
<div class="build" *ngIf="!structure.built">
    <div class="queued" *ngIf="structure.queued">
        <button mat-button (click)="claimStructure()" class="claim" *ngIf="(structure.queued | queueHandler) == 100">Claim Structure</button>
        <span class="building-type">{{structure.queued.type}}</span>
        <span class='percentage'>{{structure.queued | queueHandler}}% Complete</span>
    </div>
    <div class="empty-slot" *ngIf="!structure.queued">
        <button mat-button class="open-build-structure-dialog" (click)="openBuildDialog(structure)">Build Structure</button>
    </div>
</div>

