.structure-dialog {
    display: flex;
    align-items: center;
    flex-direction: column;

    .type {
        padding-bottom: 10px;
    }
    // unit production 
    .queue {
        display: flex;
        justify-content: space-evenly;
        .slot {
            background-color: brown;
            margin: 30px;
            height: 100px;
            width: 100px;
            
            .queued {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            .empty {
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .options {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .unit-img {
        height: 100px;
    }


    // Resource Production 

    .resource-production {
        display: flex;
        flex-direction: column;
        align-items: center;
        .store {
            display: flex;
            align-items: center;
            
            .element {
                padding: 20px;
            }

            .icon-mineral {
                background-image: url(../../../../assets/mineral32.png);
                height: 32px;
                width: 32px;
            }

            .icon-energy {
                background-image: url(../../../../assets/energy32.png);
                height: 32px;
                width: 32px;
            }
        }
        .collect-store {
            margin-top: 15px;
        }   
    }
}