<div class="details-panel" *ngIf="(tile$ | async)?.ownerId === addr">
    <div class="structure" *ngFor="let structure of structures$ | async">
        <app-structure [structure]="structure" [selectedTile]="selectedTile"></app-structure>
    </div>
</div>

<div class="if" *ngIf="tile$ | async as tile">
    <div class="owned-by-another" *ngIf="tile.ownerId && tile.ownerId != addr">
        <app-declare-war [selectedTile]="selectedTile"></app-declare-war>
    </div>
    <div class="unowned" *ngIf="!tile.ownerId">
        unowned
    </div>
</div>
