<div class="troop-list">
    <mat-card cdkDrag
        [cdkDragDisabled]="dragDisabled"
        class="mat-elevation-z4" 
        *ngFor="let troop of troops" >
        <mat-card-header>
            <div class="row">
                <mat-card-title class='name'>{{troop.name}}</mat-card-title>
                <mat-card-title class="pull-right">{{troop.rank}}</mat-card-title>
            </div>
            <div class="row">
                <mat-card-title class='type'>{{troop.type}}</mat-card-title>    
            </div>
        </mat-card-header>
        <img class='icon' [src]="getIcon(troop.type)" alt="troop">
    </mat-card>
</div>