<div class="command-table" cdkDropListGroup>
    <div class='command-troops' *ngIf="troops$ | async as troops">
        <div class="no-troops" *ngIf="troops.length == 0">
            You have no active troops. Construct production facilities on your lands to defend them.
        </div>
        <div cdkDropList
            *ngIf="troops.length != 0"
            [cdkDropListData]="troops"
            [cdkDropListDisabled]="isPromoteFull()"
            (cdkDropListDropped)="drop($event)"
            class="command-table-troops-list">
            <app-troop-card [troops]="troops"></app-troop-card>
        </div>
    </div>

    <div class="promote-troop">
        <span class="title-promote">Promote Troops</span>
        <div cdkDropList
            [cdkDropListData]="promote"
            (cdkDropListDropped)="drop($event)"
            class="slots-parent">
            <app-troop-card [troops]="promote"></app-troop-card>
        </div>
        <button mat-raised-button 
            [disabled]='!canPromote()'
            (click)='promoteTroop()' 
            class='promote'>
            Promote
        </button>
    </div>
</div>
