@import url("../../../../styles.less");

.command-table {
    display: flex;
    height: calc(100% - 75px);
    background: @gray-background;

    .command-troops {
        display: flex;
        flex-direction: column;
        flex: 0 0 75%;
        overflow-y: scroll;
        height: 100%;

        .no-troops {
            padding-top: 40px;
            align-self: center;
        }

        .command-table-troops-list {
            border: 1px solid @border-accent;
        }
    }

    .promote-troop {
        display: flex;
        flex-direction: column;
        flex: 0 0 25%;
        margin-left: auto;

        .title-promote {
            padding-top: 20px;
            font-size: 1.2em;
            align-self: center;
        }
    
        .slots-parent {
            height: 90%;
            overflow-y: scroll;
            border: 1px solid @border-accent;
            margin: 10px;
        }
    
        .promote {
            align-self:center;
            margin-bottom: 20px;
        }
    }
}
