<ul id="grid" class="clear">
    <li class="hex-item">
        <div class="hex-content">
        </div>
    </li>
    <li class="hex-item">
        <div class="hex-content">
            <app-parcel-tile [mapId]="parcelNorthWesternTile"></app-parcel-tile>
        </div>
    </li>
    <li class="hex-item">
        <div class="hex-content">
            <app-parcel-tile [mapId]="parcelNorthEasternTile"></app-parcel-tile>
        </div>
    </li>
    <li class="hex-item">
        <div class="hex-content">
            <app-parcel-tile [mapId]="parcelWestTile"></app-parcel-tile>
        </div>
    </li>
    <li class="hex-item">
        <div class="hex-content"></div>
    </li>
    <li class="hex-item">
        <div class="hex-content">
            <app-parcel-tile [mapId]="parcelEastTile"></app-parcel-tile>
        </div>
    </li>
    <li class="hex-item">
        <div class="hex-content">

        </div>
    </li>
    <li class="hex-item">
        <div class="hex-content">
            <app-parcel-tile [mapId]="parcelSouthWesternTile"></app-parcel-tile>
        </div>
    </li>
    <li class="hex-item">
        <div class="hex-content">
            <app-parcel-tile [mapId]="parcelSouthEasternTile"></app-parcel-tile>
        </div>
    </li>
</ul>