<div class="grid">
    <div class="hexagon hidden"></div>

    <div class="hexagon northwest">
        <app-parcel-tile [mapId]="parcelNorthWesternTile"></app-parcel-tile>
    </div>
    <div class="hexagon northeast">
        <app-parcel-tile [mapId]="parcelNorthEasternTile"></app-parcel-tile>

    </div>

    <div class="hexagon hidden"></div>

    <div class="hexagon west">
        <app-parcel-tile [mapId]="parcelWestTile"></app-parcel-tile>
    </div>
    <div class="hexagon center">
        <!-- <app-parcel-tile [mapId]="parcelCurrent"></app-parcel-tile> -->
    </div>
    <div class="hexagon east">
        <app-parcel-tile [mapId]="parcelEastTile"></app-parcel-tile>
    </div>

    <div class="hexagon hidden"></div>
    <div class="hexagon hidden"></div>

    <div class="hexagon southwest">
        <app-parcel-tile [mapId]="parcelSouthWesternTile"></app-parcel-tile>
    </div>
    <div class="hexagon southeast">
        <app-parcel-tile [mapId]="parcelSouthEasternTile"></app-parcel-tile>
    </div>
</div>
