<p> Current Building: {{structure.id}}</p>

<h4>Building Selection</h4>
<mat-form-field appearance = "outline">
    <mat-select  (selectionChange)="change($event)">
      <mat-option
        *ngFor="let building of buildings" 
        [value]="building.value" 
        [disabled]="structure.id === building.viewValue">
        {{ building.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <button class ="btn btn1" (click)="buildBuilding()">Build Selected Building</button>
  </div>

<!-- sidebar details  -->
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class = "example-sidenav" mode="over">
    <p class= "bDetails"> {{structure.id}}</p>
    <b class="bLevel">Building Level = {{structure.level}}</b>
    <button class= "example-button" type="button" mat-button (click)="drawer.toggle()"> Close</button>
    <button type="button" class="upgrade-refinery" (click)="upgradeBuilding()" *ngIf="structure.id === 'Refinery'" [disabled] = "structure.level === 4">Upgrade Refinery</button>
    <button type="button" (click)="upgradeBuilding()" class="upgrade-field" *ngIf="structure.id === 'Field'">Upgrade Field</button>
    <button class='upgrade-mine' mat-button (click)="openDialog()" *ngIf="structure.id === 'Mine'" >Upgrade Mine</button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button class = "sidebar-button" type="button" mat-button (click)="drawer.toggle()">
      {{structure.id}} Details
    </button>
  </div>
</mat-drawer-container>

