<div class='round' *ngIf="roundData">
    <div class="roundNum">
        <span>Round: {{roundData.round + 1}}</span>
    </div>

    <div class="attackers unit" *ngFor="let atk of roundData.endOfRoundAtk">
        <span>{{atk.name}}</span>
        <span>{{atk.HP}}</span>
    </div>

    <div class="defenders unit" *ngFor="let def of roundData.endOfRoundDef">
        <span>{{def.name}}</span>
        <span>{{def.HP}}</span>
    </div>

    <div class="logs">
        <span class="log" *ngFor="let log of roundData.logs">{{log}}</span>
    </div>
</div>