@import url("../../../../styles.less");

.tile-report {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 10px;
    height: 100%;
    background: @gray-background;
    padding: 0 10px;
    // Tile 
    .tile {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .tile-details {
            --s: 100px;  /* size  */
            --m: 4px;    /* margin */        
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 200px;

            .hexagon {
                width: var(--s);
                margin: var(--m);
                height: calc(var(--s)*1.1547); 
                display: inline-block;
                font-size: initial;
                margin-bottom: calc(var(--m) - var(--s)*0.2885);
                clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
                padding-bottom: 25px;
            }
            
            .hexagon-land {
                width: 100%;
                height: 100%;
                background-position: -10px 0px;
                background-size: 120px;
                background-image: url(../../../../assets/rockDirt_moss2.png); // need to figure out how to tile this
                background-repeat: no-repeat;
                visibility: auto;
            }

            .location {
                display: flex;
                justify-content: space-around;
            }

            .ifHasCoords {
                display: flex;
                justify-content: center;
            }
        }
        
        .production {
            display: flex;
            flex-direction: column;
            align-items: center;
            .store {
                display: flex;
                align-items: center;
                .element {
                    padding-left: 10px;
                }
                .icon-mineral {
                    background-image: url(../../../../assets/mineral32.png);
                    height: 32px;
                    width: 32px;
                }
    
                .icon-energy {
                    background-image: url(../../../../assets/energy32.png);
                    height: 32px;
                    width: 32px;
                }
            }
            .collect-store {
                margin-top: 15px;
            }   
        }
    }

    // Structures
    .structures {
        .structure {
            width: 100%;
            height: 25%;
        }
    }

    // Conflict
    .conflict {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .planning {
            .attackers {
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 50%;
                .troop {
                    display: flex;
                    flex-direction: column;
                    border-style: solid;
                    border: 2px solid chartreuse;
                    border-radius: 5px;
                    padding: 12px;
                }
            }

            .defenders {
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 100%;
                .troop {
                    display: flex;
                    flex-direction: column;
                    border-style: solid;
                    border: 2px solid chartreuse;
                    border-radius: 5px;
                    padding: 12px;
                }
                .defenders-not-set {
                    align-self: center;
                    justify-self: flex-end;
                }
            }
        }
        .execution, .after-report {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }
}