<div class="tile-report">

    <!-- Tile -->
    <div class='tile' *ngIf="tile$ | async; let tile">
        <div class="tile-details">
            <span>{{tile.id}}</span>
            <div class="hexagon">
                <div class="hexagon-land"></div>
            </div>
            <div class="" *ngIf="tile.tokenId">
                <button mat-raised-button [routerLink]="generateDashboardLink(tile.tokenId)">Go to</button>
            </div>
        </div>
        <div class="production">
            <div class="store">
                <div class="icon-mineral"></div>
                <span class="element mineral-value">Stored: {{calculateStore(tile.mineralRate, tile.lastCollected)}}</span>
                <span class="element collection-rate">Minerals per hour: {{tile.mineralRate}}</span>
            </div>
            <div class="store">
                <div class="icon-energy"></div>
                <span class="element energy-value">Stored: {{calculateStore(tile.energyRate, tile.lastCollected)}}</span>
                <span class="element collection-rate">Energy per hour: {{tile.energyRate}}</span>
            </div>
            <div class="last-collected">{{ tile.lastCollected?.toDate() | date:'medium' }}</div>
            <div class="collect-store">
                <button mat-raised-button (click)="collectStore(tile.mineralRate, tile.energyRate, tile.lastCollected)" class="collect">Collect</button>
            </div>
        </div>
    </div>
    
    <!-- Structures -->
    <div class="structures" *ngIf="structures$ | async; let structures">
        <div class="structure" *ngFor="let structure of structures">
            <app-structure [structure]="structure" [selectedTile]="tile.tokenId" *ngIf="tile$ | async; let tile"></app-structure>
        </div>
    </div>

    <!-- Conflict -->
    <div class="conflict" *ngIf="conflict$ | async; let conflict">
        <div class="planning" *ngIf="!conflict.isAttacking || !conflict.isDefending">
            <!-- <div>{{conflict | json}}</div> -->
            <div class="attackers" *ngFor="let attacker of conflict.attacking">
                <div class="troop">
                    <span class="name">{{attacker.name}}</span>
                    <span class="type">{{attacker.type}}</span>
                </div>
            </div>
            <div class="defenders">
                <div class="defenders-set" *ngIf="conflict.isDefending" >
                    <div class="troop" *ngFor="let defender of conflict.defending">
                        <span class="name">{{defender.name}}</span>
                        <span class="type">{{defender.type}}</span>
                    </div>
                </div>
                <div class="defenders-not-set" *ngIf="!conflict.isDefending">
                    <button mat-button [routerLink]="generateLink(conflict.id)" class="set-defenders">Set Defense</button>
                </div>    
            </div>
        </div>
        <div class="execution" *ngIf="conflict.isAttacking && conflict.isDefending && !conflict.isResolved">
            <button mat-button [routerLink]="generateLink(conflict.id)">View Conflict</button>
        </div>
        <div class="after-report" *ngIf="conflict.isAttacking && conflict.isDefending && conflict.isResolved">
            <button mat-button [routerLink]="generateLink(conflict.id)">View Completed Conflict</button>
        </div>
    </div>
</div>
