<button (click)="ethersService.requestAccount()">requestAccount</button>
<button (click)="ethersService.getBalance()">getBalance</button>
<!-- <button (click)="ethersService.getSigner()">getSigner</button> -->
<button (click)="ethersService.getBalanceOf()">getBalanceOf</button>
<button (click)="ethersService.getTotalSupply()">getTotalSupply</button>
<button (click)="ethersService.getMetadataURI(1)">getMetadataURI</button>
<button (click)="logData()">Log Data</button>

<div class="data">{{data | json}}</div>


<div class="parent">
    <div class="some-other-thing">
        <div class="child"></div>
    </div>
</div>