<div class="war-room" *ngIf="conflictData$ | async as conflictData" cdkDropListGroup>
    <!-- Combat is in the planning stages or is in progress -->
    <div class="resolving" *ngIf="!resolvedConflict">
        <div class="main-panel">
            <div class="planning-table">
                <div class="battlefield">
                    <div class="attacking unlocked"
                        *ngIf="state == 0"
                        cdkDropList
                        [cdkDropListData]="planAttack"
                        (cdkDropListDropped)="drop($event)">
                        <app-battlefield-card [troops]="planAttack" [dragDisabled]="false"></app-battlefield-card>
                    </div>    
                    <div class="attacking locked"
                        *ngIf="state != 0">
                        <app-battlefield-card [troops]="attacking"></app-battlefield-card>
                    </div>    
                    <div class="defending unlocked"
                        *ngIf="state == 1"
                        cdkDropList
                        [cdkDropListData]="planDefense"
                        (cdkDropListDropped)="drop($event)">
                        <app-battlefield-card [troops]="planDefense" [dragDisabled]="false"></app-battlefield-card>
                    </div>
                    <div class="defending locked" 
                        *ngIf="state != 1">
                        <app-battlefield-card [troops]="defending"></app-battlefield-card>
                    </div>
                </div>
                <button
                    mat-raised-button
                    *ngIf="submitEnabled()"
                    class="submit" (click)="submitTable()"
                    [class.disabled]="validBattlefield()">
                    Lock-in
                </button>
                <div class="await"
                    *ngIf="!submitEnabled()">
                    Resolving...
                </div>
            </div>            
        </div>
        <div class="side-panel">
            <div class="garrison" *ngIf="!conflictData.isDefending">
                <div cdkDropList
                    [cdkDropListData]="troops"
                    (cdkDropListDropped)="drop($event)"
                    *ngIf="troops$ | async | filterDeployed as troops"
                    class="slots-parent">
                    <app-troop-card [troops]="troops"></app-troop-card>
                </div>
            </div>
            <app-conflict-feed
                *ngIf="conflictData.isAttacking && conflictData.isDefending"
                [conflict]="conflictData">
            </app-conflict-feed>
        </div>
    </div>
    <!-- Combat is over -->
    <div class="resolved" *ngIf="resolvedConflict">
        <app-conflict-resolved
            [conflict]="conflictData">
        </app-conflict-resolved>
    </div>
</div>