@import url("../../../../styles.less");

.war-room {
    height: calc(100% - 75px);
    background: @gray-background;
    .resolving {
        display: flex;
        height: 100%;

        .main-panel {
            flex: 0 0 70%;
        }

        .side-panel {
            flex: 0 0 30%;
        }
    }
}