@import url("../../../../styles.less");

.full-page {
    display: flex;
    flex-direction: column;
    height: calc(100% - 75px);

    .discover-list-container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        height: auto;
        background-color: @gray-background;

        .discover-row {
            display: flex;
            flex: 1 1 50%;
            justify-content: space-around;
            flex-wrap: wrap;

            .no-parcels {
                align-self: center;
                justify-content: center;
            }
        }
    }
}

.parcel-wrapper {
    flex: 1 1 0;
    align-self: center;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}