.full-page {
    width: 100%;
    height: calc(100% - 55px);
    background-color: #43464B;
    display: flex;
    flex-direction: column;

    .refresh-time-container {
        flex: 0 0 40px;

        .refresh-time {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 40px;
            .timer {
                padding: 5px;
            }
        }
    }
    .discover-list-container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        .discover-row {
            display: flex;
            flex: 1 1 50%;
            justify-content: space-around;
        }
    }
}

app-discover-parcel {
    flex: 1 1 0;
}