<button (click)="ethersService.isMetamaskInstalled()">isMetamaskInstalled</button>
<button (click)="ethersService.requestAccount()">requestAccounts</button>
<!-- <button (click)="ethersService.givenProvider()"></button> -->
<button (click)="ethersService.connectContract()">connectContract</button>
<button (click)="ethersService.getSigner()">getSigner</button>
<button (click)="ethersService.discover()">Discover</button>
<button (click)="ethersService.getBalanceOf()">getBalanceOf</button>
<button (click)="ethersService.getTokenOfOwnerByIndex()">getTokenOfOwnerByIndex</button>
<button (click)="ethersService.getTotalSupply()">getTotalSupply</button>
<button (click)="ethersService.getMetadataURI(12)">getMetadataURI</button>