.conflict-feed {
    right: 0;
    position: absolute;
    width: 30%;
    height: calc(100% - 75px);
    overflow: scroll;

    .conflict-updates {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
