.conflict-feed {
    right: 0;
    position: absolute;
    width: 30%;
    height: calc(100% - 75px);
    background-color: rgb(127, 127, 133);
    overflow: scroll;

    .conflict-updates {
        border: lightblue;
        border-style: solid;
    }
}
