.navbar {
    position: relative;
    display: flex;
    width: 100%;
    top: 0px;
    z-index: 3;
    background-color: black;
    border-top: 3px solid #98fc03;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    .nav-item {
        padding: 10px;
        display: block;
        text-decoration: none;
        justify-self: center;
        align-self: center;
        color: #f2f2f2;
        .icon-mineral {
            padding-left: 4px;
            background-image: url(../assets/mineral32.png);
            height: 32px;
            width: 32px;
        }
    
        .icon-energy {
            background-image: url(../assets/energy32.png);
            height: 32px;
            width: 32px;
        }
    }  
    
    .nav-item:hover {
        background-color: #ddd;
        color: black;
        cursor: pointer;
    }
}

.navbar-nav {
    padding-left: 125px;
}

.navbar-account {
    padding-right: 20px;
    margin-left: auto;
    .nav-item .address {
        width: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
        direction: rtl;
        text-align: left;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}