.navbar {
    position: relative;
    width: 100%;
    top: 0px;
    z-index: 3;
    background-color: black;
    border-top: 3px solid #98fc03;
}

.navbar-nav {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 125px;
    .nav-item {
        padding: 20px;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #f2f2f2;
    }

    .nav-item:hover {
        background-color: #ddd;
        color: black;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}