<div class="navbar navbar-fixed-top navbar-dark bg-inverse" *ngIf="!router.isActive('/', true) && !router.isActive('/login', true)">
    <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item" [routerLink]="['/reports']" >Reports</li>
        <li class="nav-item" [routerLink]="['/dashboard']" >Map</li>
        <li class="nav-item" [routerLink]="['/annex']" >Annex</li>
        <li class="nav-item" [routerLink]="['/garrison']">Garrison</li>
    </ul>
    <ul class="nav navbar-account">
        <li class="nav-item minerals" *ngIf="account"> 
            <div class="icon-mineral"></div> 
            <span>{{ (account$ | async)?.minerals }}</span>
        </li>
        <li class="nav-item energy" *ngIf="account">
            <div class="icon-energy"></div>
            <span>{{ (account$ | async)?.energy }}</span>
        </li>
        <li class="nav-item domination" *ngIf="account">
            <div class="icon-domination"></div>
            <span>{{ (account$ | async)?.domination }}</span>
        </li>
        <li class="nav-item" *ngIf="account">
            Connected to <span class="address">{{account}}</span>
        </li>
        <!-- <li class="nav-item" *ngIf="account" (click)="metamaskService.disconnectMetaMaskAccount()">Disconnect</li> --> 
        <li class="nav-item" *ngIf="!account" [routerLink]="['/login']">Connect</li>
    </ul>
</div>
<router-outlet></router-outlet>