.reports-page {
    position: relative;
    // height: 100%;
}

.reports {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.row {
    box-sizing: border-box;
    border: 1px solid chartreuse;
    width: 100%;
    height: 200px;
    overflow: hidden;
}