@import url("../../../../styles.less");

.dashboard {
    display: flex;
    height: calc(100% - 75px);
    
    .world-map {
        flex: 1 1 50%;
    }
    
    .world-details {
        border-left: 2px solid @border-accent;
        background-color: @gray-background;
        flex: 0 1 25%;
    }
}
