<div class='annex-item'>
    <div class="row">
        <div class="hexagon">
            <div class="hexagon-land"></div>
        </div>
        <div class="land-stats">
            <ul class='stats'>
                <li class="stat-row">
                    <div class="stat-text">Mineral Production Rate</div>
                    <div class="stat-number">{{ attributes?.minerals }}</div>
                </li>
                <li class="stat-row">
                    <div class="stat-text">Energy Production Rate</div>
                    <div class="stat-number">{{ attributes?.energy }}</div>
                </li>
                <li class="stat-row">
                    <div class="stat-text">Fortification</div>
                    <div class="stat-number">{{ attributes?.defense }}</div>
                </li>
            </ul>
        </div>    
    </div>
    <div class="row">
        <button mat-raised-button [disabled]="stale" (click)="conquer()">CONQUER</button>
    </div>
</div>