.full-page {
    width: 100%;
    height: 100%;
    background-color: #43464B;
    display: flex;
    flex-direction: column;
}

.navbar-container {
    flex: 0 0 60px;
}
.refresh-time-container {
    flex: 0 0 40px;
}
.discover-list-container {
    flex: 1 1 auto;
    height: 97%;
}

.refresh-time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    .timer {
        padding: 5px;
    }
}
.discover-list {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

app-discover-parcel {
    height: 100%;
}
