<p> Current Building: {{structure.id}}</p>

<!-- <h4>Building Selection</h4>
<mat-form-field appearance="fill">
  <mat-label>Choose an option</mat-label>
  <mat-select (selectionChange)= "change($event)" [disabled]="disableSelect.value">
    <mat-option value="option1" [disabled] = "structure.id === 'smith'">smith</mat-option>
    <mat-option value="option2" [disabled] = "structure.id === 'field'">field</mat-option>
    <mat-option value="option3" [disabled] = "structure.id === 'mine'">mine</mat-option>
    <mat-option value="option4" [disabled] = "structure.id === 'refinary'">refinary</mat-option>
  </mat-select>
</mat-form-field> -->


<h4>Building Selection</h4>
<mat-form-field appearance = "outline">
    <mat-select  (selectionChange)="change($event)">
      <mat-option *ngFor="let building of buildings" [value]="building.value" [disabled] = "structure.id === building.viewValue">
        {{ building.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <button class ="btn btn1" (click)="buildBuilding()">Build Selected Building</button>
  </div>

<!-- sidebar details  -->
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class = "example-sidenav" mode="over">
    <p class= "bDetails"> {{structure.id}}</p>
    <button class= "example-button" type="button" mat-button (click)="drawer.toggle()"> Close</button>
    <button type="button" class="upgrade-refinery" *ngIf="structure.id === 'Refinery'">Upgrade Refinery</button>
    <button type="button" class="upgrade-field" *ngIf="structure.id === 'Field'">Upgrade Field</button>
    <!-- <button (click)="showFiller = !showFiller" mat-raised-button>
      Building Options
    </button> -->
  </mat-drawer>

  <div class="example-sidenav-content">
    <button class = "sidebar-button" type="button" mat-button (click)="drawer.toggle()">
      {{structure.id}} Details
    </button>
  </div>

</mat-drawer-container>

