<div class="planning-table">
    <div class="attacking">
        <div class="toSet" *ngIf="!isAttacking">
            <div class="attacking-row">
                <div *ngFor="let troop of attacking$ | async" class="troop" (click)="remove(troop)">
                    <app-troop-card [troop]="troop"></app-troop-card>
                </div>
            </div>
        </div>    
        <div class="isSet" *ngIf="isAttacking">
            <div class="attacking-row">
                <div *ngFor="let troop of attacking" class="troop" (click)="remove(troop)">
                    <app-troop-card [troop]="troop"></app-troop-card>
                </div>
            </div>
        </div>    
    </div>
    <div class="defending">
        <div class="toSet" *ngIf="!isDefending">
            <div class="attacking-row">
                <div *ngFor="let troop of defending$ | async" class="troop" (click)="remove(troop)">
                    <app-troop-card [troop]="troop"></app-troop-card>
                </div>
            </div>
        </div>    
        <div class="isSet" *ngIf="isDefending">
            <div class="defending-row">
                <div *ngFor="let troop of defending" class="troop" (click)="remove(troop)">
                    <app-troop-card [troop]="troop"></app-troop-card>
                </div>
            </div>
        </div>
    </div>
    <button
        mat-button
        *ngIf="!isAttacking || !isDefending"
        class="submit" (click)="submitTable()"
        [class.disabled]="validTable()">Lock-in</button>
</div>

