.planning-table {
    left: 0;
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: blue;

    button {
        position: absolute;
        top: 50%;
        left: 90%
    }
    button.disabled{
        cursor: not-allowed !important;
        opacity: 0.5;
        text-decoration: none;
    }

    .isSet, .toSet  {
        height: 100%;
    }

    .attacking, .defending {
        height: 50%;
    }

    .attacking-row {
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: space-evenly;
    }

    .defending-row {
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: space-evenly;
    }

    .troop {
        height: 80%;
        width: 15%;
        margin-top: 20px;
    }
}