app-browser {
    position: absolute;
    width: 25%;
    left: 0;
}

app-map {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

app-parcel-details {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    height: 100%;
    width: 25%;
    background: turquoise;
}