app-browser {
    position: absolute;
    left: 0;
}

app-map {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

app-parcel-details {
    position: absolute;
    right: 0;
}