/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body { margin: 0; font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: "Quicksand";
    src: local("Quicksand"), url(./assets/fonts/Quicksand-Regular.ttf) format("truetype");
}
