@import url("../../../../styles.less");

.build-structure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .to-build {
        display: flex;
        align-items: center;
    }
    .resource-cost {
        display: flex;
        flex-direction: column;
        align-items: center;
        .row {
            display: flex;
        }
        .icon-mineral {
            background-image: @mineral-icon;
            height: 32px;
            width: 32px;
        }
    
        .icon-energy {
            background-image: @energy-icon;
            height: 32px;
            width: 32px;
        }
    }

    .queue-build {
        margin-top: 10px;
    }
}